#auth-section {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://bit.ly/2DQ2CNo);
  background-size: cover;
  background-position-x: center;
  background-color: none;
  text-align: center;

}
