.map {
  height: 450px;
  z-index: 0;
}
.welcome-section {
  height: 300px;
  background-color: red;
}
.map-section {
  height: 300px;
  background-color: blue;
}

.circle{
  font: 40px;
}
.result-container {
  position: relative;
  // border-top: grey solid 1px;
}

.search-results {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  .result {
    position: static;
    background-color: white;
    height: 30px;
    border-bottom: grey solid 1px;
  }
  :hover {
    background-color: grey;
    color: white;
  }
}
