.map {
  height: 450px;
  z-index: 0;
}
.main{
  padding: 100px;
}
.welcome-section {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://bit.ly/2DQ2CNo);
  background-size: cover;
  background-position-x: center;
  background-color: none;
  .title{
    color: white;
  }
}
.map-section {
  height: 300px;
  background-color: blue;
}

.circle{
  font: 40px;
}
.result-container {
  position: relative;
  // border-top: grey solid 1px;
}

.search-results {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  .result {
    position: static;
    background-color: white;
    height: 30px;
    border-bottom: grey solid 1px;
  }
  :hover {
    background-color: grey;
    color: white;
  }
}
