<h1>This is Home Page</h1>

<p>this should work now.</p>

<div ng-repeat="exhibition in filteredExhibitions" class=" card column is-3-desktop" style="margin: 10px;">
  <a ui-sref="exhibitionShow({ id: exhibition._id})">
    <p class="title is-4 has-text-centered"> <span class="bold">{{exhibition.name}}</span> </p>
    <p class=" content has-text-centered">{{exhibition.dates}}</p>

    <div class="card-image">
      <img src="{{ exhibition.image }}" alt="This is{{exhibition.name}}">
    </div>
    <div class="card-content">
    </div>
    </a>
  </div>
