
<div class="welcome-section">
  <div class="title">
    <p>Welcome to</p>
    <p class="app-name">xhibit</p>
    <div class="welcome-message">
      <p>See our guide to the best free,
      <br>new and critically-acclaimed exhibitions <br>in the capital</p>
    </div>
  </div>
</div>

<section class="main">

  <section class="section" id="featured-exhibitions-section">
    <div class="container has-text-centered" id="featured-exhibitions">
      <h2 class="title">Featured exhibitions</h2>
        <div class="columns is-centered" style="padding: 2rem">
            <div class="column" ng-if=" exhibition.rating > 6" ng-repeat="exhibition in allExhibitions">
                <div class="card">
                  <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="{{ exhibition.image }}" alt="This is{{exhibition.name}}">
                      </figure>
                  </div>
                  <div class="card-content">
                      <div class="media">
                          <div class="media-content">
                            <a ui-sref="exhibitionShow({ id: exhibition._id})">
                              <p class="title is-4 has-text-centered"> <span class="bold">{{exhibition.name}}</span> </p>
                              <p class="subtitle is-6 has-text-centered">{{exhibition.dates}}</p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="content">
                    <p>{{ exhibition.summary}}</p>
                    <a>@gallery</a>.
                    <a href="#">#artist</a>
                    <a href="#">#city</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="map-search">
    <div class=" title has-text-centered"> <h2 class="title">The Map</h2></div>

    <div class="field has-addons is-grouped is-grouped-centered" id="input-area">
      <div class="control">
        <input class="input" ng-model="searchTerm" ng-change="findPlaces()" placeholder="Search for locations">
      </div>
      <div class="control">
        <a class="button">
          🔍
        </a>
      </div>
      <div ng-if="isAuthenticated()" class="button" ng-click="findUser()">
        <p>See where you are now 🐥</p>
      </div>

    </div>

    <div class="result-container">
      <div class="search-results">
        <div class="result" ng-repeat="place in searchResults" ng-click="goTo(place)">
          <p>{{ place.display_name }}</p>
        </div>
      </div>
    </div>

    <div id="map-element" class="map"></div>

    <section class="section" id="search-list">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p>EXHIBITIONS</p>
            <div ng-repeat="exhibition in allExhibitions">
              <a ng-click="panMapE(exhibition)">{{ exhibition.name }}</a>
            </div>
          </div>
          <div class="column">
            <p>GALLERIES</p>
            <div ng-repeat="gallery in galleries">
              <a ng-click="panMap(gallery)">{{ gallery.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </section>
</section>
