<!-- <h1 class="title">Map</h1> -->
<!-- <div class="button" ng-click="findUser()">
  Find me!
</div> -->
<!-- <div class="columns is-multiline is-mobile">
  <div class="column is-12-desktop">
      <p >Search for locations:</p>
  </div>

  <form class="column is-6-desktop">
    <input class="input" ng-model="searchTerm" ng-change="findPlaces()">
    <button class="button">Search</button>
  </form>

  <div class="result-container column is-12-desktop">
    <div class="search-results">
      <div class="result" ng-repeat="place in searchResults" ng-click="goTo(place)">
        <p>{{ place.display_name }}</p>
      </div>
    </div>
  </div>

  <div id="map-element" class="map column is-12-desktop"></div>

  <div class="columns is-12-desktop">
    <div class="column is-6-desktop" ng-repeat="gallery in galleries">
      <a ng-click="panMap(gallery)">{{ gallery.name }}</a>
    </div>
  </div>
</div> -->
