
<div class="columns is-centered">
  <div class="column is-desktop">
    <h1 class="title is-2 has-text-centered">{{exhibition.name}}</h1>
    <p>DATES: {{exhibition.dates}}</p>
    <p>GALLERY: {{ exhibition.gallery.name }}</p>
    <hr>
    <p class="showDescription">Description: {{exhibition.description}}</p>
    <div class="card-image">
      <img src="{{ exhibition.image }}" alt="This is{{exhibition.name}}">
    </div>
    <div class="has-text-centered">
      <br>
      <button class="button" ng-click="handleDelete()">DELETE EXHIBITION</button>
    </div>

    <div class="comments">
      <div ng-repeat="comment in exhibition.comments">
        <span style="font-weight: bold;">{{ comment.commentAuthor.username.toUpperCase() }}</span>
        <span>{{ comment.text }}</span>
        <!-- ng-if="comment.user._id === userId"  -->
        <button class="delete-button" ng-click="deleteComment(comment)">x</button>
      </div>
      <form ng-submit="createComment()">
        <input type="text" ng-model="comment.text">
        <button class="button">Comment</button>
      </form>

    </div>
  </div>
