
<div id="galleryIndex" class="columns is-12-desktop is-mobile">

  <div id="top" class="column is-multiline is-4-desktop" >
    <div id="grey">
      <div class="grey column is-4">
        <strong>Gallery List</strong>
      </div>
      <div ng-repeat="gallery in allGalleries" class="column is-4">
        <a ui-sref="galleryShow({ id: gallery._id })">
            <div class="anchor">
              <p>{{ gallery.name }}</p>
            </div>
        </a>
      </div>
    </div>
  </div>

  <div class="columns is-multiline is-8-desktop topMargin">

    <div id="row" ng-repeat="gallery in allGalleries" class="column is-6-desktop">
            <!-- <div id="zoom" class="column is-11">
              <img ng-src="{{ gallery.image }}" alt="{{ gallery.name }}">
              <div class="zoom-overlay top"></div>
            </div> -->
          <a ui-sref="galleryShow({ id: gallery._id })"
            <div id="zoom" class="card large">
                <div class="card-image">
                    <figure class="image">
                        <img class="image" id="cover" src="{{ gallery.image }}" alt="Image">
                        <div class="zoom-overlay top"></div>
                    </figure>
                </div>
              </a>
        </div>
    </div>
  </div>
