<div class="columns is-multiline is-12-desktop">
  <div class="column is-multiline is-6-desktop">
    <br>
    <div class="column is-12-desktop"><h2 class="title is-2 has-text-centered">{{gallery.name}}</h2></div>
    <div class="column is-12-desktop">  <p class="title is-3 has-text-centered"> <i class="fas fa-map-marker-alt "> </i>  {{ gallery.locationName}}</p>
    </div>
    <div class="column is-12-desktop has-text-centered">  <button class="button" ng-if="isAuthenticated()" ui-sref="exhibitionNew({ galleryId: gallery._id })">ADD EXHIBITION ✚</button> </div>
  </div>
  <div class="column is-6-desktop">
    <br>
    <img class="circle is-centered" src="{{ gallery.image }}" alt="{{ gallery.name }}"></div>
  </div>


<div class="buttons" ng-if="isAuthenticated()">
  <button class="button is-info" ui-sref="galleryEdit({ id: gallery._id })">Edit</button>
  <button class="button is-danger" ng-click="handleDelete()">DELETE</button>
</div>

<hr>

<hr>
<div class="columns is-multiline">
  <div ng-repeat="exhibition in gallery.exhibitionList" class="card column is-3-desktop" style="margin: 10px;">
    <div>
      <a ui-sref="exhibitionShow({ id: exhibition._id })">
        <p>{{exhibition.name}}</p>
        <img src="{{ exhibition.image }}" alt="{{exhibition.name}}">
      </a>
    </div>
  </div>
</div>
