<!DOCTYPE html>
<html ng-app="exhibition">
  <head>
    <meta charset="utf-8">
    <title>Exhibitions</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
     integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
     crossorigin=""></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  </head>
  <body ng-controller="mainCtrl">

    <nav class="navbar is-fixed-top" id="navbar">
      <div ng-if="isHomepage" id="navMenubd-example" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active"  ui-sref="#" id="nav-tt">xhibit</a>

            <div class="navbar-dropdown">
              <a class="navbar-item" ui-sref="home">Home</a>
              <a class="navbar-item" ui-sref="galleryIndex">Galleries</a>
              <a class="navbar-item" ng-if="isAuthenticated()" ui-sref="galleryNew">Add a gallery</a>
              <a class="navbar-item" ui-sref="exhibitionIndex">Exhibitions</a>
            </div>
          </div>
        </div>
      </div>
      <div class="user-nav" ng-if="isHomepage">
        <ul>
          <li>
            <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Login</a>
          </li>
          <li>
            <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">Register</a>
          </li>
          <li>
            <a ng-if="isAuthenticated()" ng-click="handleLogout()" class="navbar-item">Log out <span class="nav-username">{{ username }}</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <nav ng-if="!isHomepage" class="navbar">

      <div class="navbar-end">
        <a class="navbar-item" ui-sref="home">Home</a>
        <a class="navbar-item" ui-sref="galleryIndex">Galleries</a>
        <a class="navbar-item" ng-if="isAuthenticated()" ui-sref="galleryNew">Add a gallery</a>
        <a class="navbar-item" ng-if="isAuthenticated()" ui-sref="userProfile ({id: userId})">Profile</a>
        <a class="navbar-item" ui-sref="exhibitionIndex">Exhibitions</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Login</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">Register</a>
        <a ng-if="isAuthenticated()" ng-click="handleLogout()" class="navbar-item">Log out {{ username }}</a>
      </div>
    </nav>

    <div ng-class="{ container: !isHomepage}">
      <div ui-view></div>
    </div>

    <footer>
      <div class="section">
        <div class="container">
          <div class="columns">
            <div class="column has-text-centered">
              <p><span><a ui-sref="home" class="bold" >HOME</a></span> ||  <span><a ui-sref="galleryIndex" class="bold" >GALLERIES</a></span> ||  <span><a ui-sref="exhibitionIndex" class="bold" >EXHIBITIONS</a></span> ||  <span><a ui-sref="register" class="bold" >REGISTER</a></span></p>
            </div>
          </div>
          <div class="columns">
            <div class="column has-text-centered">
              <p class="footer-tt">xhibit</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
