<!DOCTYPE html>
<html ng-app="exhibition">
  <head>
    <meta charset="utf-8">
    <title>Exhibitions</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body ng-controller="mainCtrl">
    <nav class="navbar">
      <div class="navbar-start">
        <a class="navbar-item">NAVBAR</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="home">Home</a>
        <a class="navbar-item" ui-sref="galleryIndex">Galleries</a>
        <a class="navbar-item" ng-if="isAuthenticated()" ui-sref="galleryNew">Add a gallery</a>
        <!-- <a class="navbar-item" ui-sref="exhibitionIndex">Exhibitions</a> -->
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Login</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">Register</a>
        <a ng-if="isAuthenticated()" ng-click="handleLogout()" class="navbar-item">Log out {{ username }}</a>
      </div>
    </nav>
    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>
