.map {
  height: 200px;
  z-index: 0;
}
.circle{
  font: 40px;
}
// .result-container {
//   position: relative;
// }

// .search-results {
//   z-index: 1;
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   .result {
//     position: static;
//     background-color: white;
//     height: 40px;
//     border-bottom: grey solid 1px;
//   }
//   :hover {
//     background-color: #ddd;
//     color: #558;
//   }
// }
