$xhibit-black: #252527;
$xhibit-colour: #7775da;
$xhibit-colour-light: #c8c7ff;

%mid-title-set {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  // font-weight: 700;
}
// NOTE: Don't need the underscore!!!
@import 'partials/nav';
@import 'partials/main';
@import 'partials/main_welcome';
@import 'partials/footer';
@import 'partials/forms';


*{
  // background-color: inherit;

}

body {
}
